# Dependencies
node_modules
npm-debug.log

# Build outputs
.next
out
build

# Debug logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.github
.gitignore

# Readmes and documents
README.md
PROJECT.md
walkthrough.md
task.md
implementation_plan.md
